<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/newproduct.css" type="text/css" />
    <title>Add New Product</title>
  </head>
  <body>
    <h1>Add New Post</h1>
    <form action="/products/add" method="POST" enctype="multipart/form-data">
      <label for="name">Product Name*</label>
      <input name="name" type="text" required />
      <label for="categoryID">Category*</label>
      <select id="categorySelector" name="categoryID">
        <% for (let i= 0; i < categoryList.length; i++) { %>
        <option value="<%= categoryList[i].slug %>"><%= categoryList[i].name %></option>
        <% } %>
      </select>

      <label for="featuredImage">Featured Image*</label>
      <input type="text" name="featuredImage" required />

      <label for="images">Images</label>
      <input type="text" name="images" />
      <div id="addImageDiv"></div>
      <div id="new"></div>

      <input class="addImage" type="button" onclick="addImage()" value="+ Add More Images" />
      <script>
        function addImage() {
          document.getElementById("addImageDiv").innerHTML += "<input type='text' name='images' />";
        }
      </script>
      <label for="finalPrice">Final Price*</label>
      <input type="number" required name="finalPrice" />

      <label for="MRP">MRP*</label>
      <input type="number" required name="MRP" />

      <section class="quantity">
        <h3>Quantity</h3>
        <div>
          <section>
            <label for="value">Amount*</label>
            <input type="number" required name="amount" />
          </section>
          <section>
            <label for="units">Units*</label>
            <input type="text" required name="units" />
          </section>
        </div>
      </section>

      <label for="description">Description*</label>
      <textarea required name="description"></textarea>

      <label for="featured">Is Featured?*</label>
      <select name="featured" required>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>

      <label for="tags">Tags*</label>
      <input type="text" required name="tags" />

      <label for="varietyName">Variety Name</label>
      <input type="text" name="varietyName" />

      <label for="varietyEPIN">Variety EPIN</label>
      <input type="text" name="varietyEPIN" />

      <label for="varietyName">Variety Name</label>
      <input type="text" name="varietyName" />

      <label for="varietyEPIN">Variety EPIN</label>
      <input type="text" name="varietyEPIN" />

      <button type="submit">Add Post</button>
    </form>
  </body>
</html>
